.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #635985;
  height: 10vh;

}

img {
  height: 250px;
  width: 100%;
  border-radius: 15px;

}

/* Countries Styling */

.display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.card {
  border: 1px solid black;
  height: 500px;
  width: 400px;
  text-align: center;
  border-radius: 15px;
}



/* Food Styling */

.cards {
  border: 1px solid grey;
  width: 20rem;
  height: 24rem;
  margin-bottom: 2rem;
  border-radius: 15px;
}

.drop1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(255, 253, 253);
  padding: 40px;
}

.drop2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 30px;
}


.subdrop {
  color: whitesmoke;
}